body{

    background-color:green;
}
#topHeader{
    position:fixed;
    
    display:flex;
    width:100%;
    height:5rem;
   
    border-style:solid;
    border-color:red;
}
 #threeBarIcon{
    align-self:center;
    margin-left:1%;
    width:5rem;
    height:5rem;
    border-style:dotted;
    border-color:tomato;
} 
#logo{
    margin-left:1%;
    align-self:center;
    height:5rem;
    width:15rem;
    border-style:dotted;
    border-color:wheat;
}
#searchbar{
    align-self:center;
    margin-left:auto;
    margin-right:auto;
    width:40%;
    height:60%;
    border-style:dotted;
    border-color:violet;
}
#headingButtons{
    align-self:center;
    margin-right:2.1%;
    width:7%;
    height:50%;
    border-style:dotted;
    border-color:cadetblue;
}
#profileBanner{
    position:relative;
    top:5.1rem;
    display:flex;
    margin-left:13.1rem;
    width:auto;
    height:30rem;
    border-style:dotted;
    border-color:orange;

}
nav{
    display:flex;
    margin-left:13.1rem;
    width:auto;
    height:10rem;
    border-style:dotted;
    border-color:yellow;
}
#videos{
    display:flex;
    margin-left:13.1rem;
    width:auto;
    height:60rem;
    border-style:dotted;
    border-color:yellow;
}
aside{
    position:fixed;
    top:5.6rem;
    display:flex;
    overflow-y: scroll;
    top: 5.6rem;
    bottom: -50rem;
    width:13rem;
    height:95vh;
    background-color:#202020;
    border-style:dotted;
    border-color:yellow;
    flex-direction: column;
    align-items: center;
 
}
aside>section>ul{
    border-style:dotted;
    height:10%;
    margin-bottom:-10%;
}
aside>section>ul:hover{
background-color:grey;
}
#aside-top-section{
    display:flex;
    flex-direction: column;
    width:100%;
    height:auto;

}
#aside-top-section>ul{
    height:30%;
}
#aside-mid-section{
    margin-top:10%;
    display:flex;
    flex-direction: column;
    width:100%;
    height:auto;
    border-style:solid;
    border-width:2px 0 0 0 ;
    border-radius:1%;
    border-color:#373737;
}
#aside-mid-section>ul{
    height:20%;
}
#aside-bottom-section{
    margin-top:20%;
    display:flex;
    flex-direction: column;
    width:100%;
    height:auto;
    border-style:dotted;
    border-color:black;
}
.sideButton{
  
    height:100%;
    width:100%;
    margin-left:-10%;
    padding:1%;
}