body{

    background-color:green;
}
#topHeader{
    position:fixed;
    display:flex;
    width:100%;
    height:10rem;
   
    border-style:solid;
    border-color:red;
}
 #threeBarIcon{
    align-self:center;
    margin-left:1%;
    width:5rem;
    height:5rem;
    border-style:dotted;
    border-color:tomato;
} 
#logo{
    margin-left:1%;
    align-self:center;
    height:5rem;
    width:15rem;
    border-style:dotted;
    border-color:wheat;
}
#searchbar{
    align-self:center;
    margin-left:auto;
    margin-right:auto;
    width:40%;
    height:60%;
    border-style:dotted;
    border-color:violet;
}
#headingButtons{
    align-self:center;
    margin-right:2.1%;
    width:7%;
    height:50%;
    border-style:dotted;
    border-color:cadetblue;
}
#profileBanner{
    position:relative;
    top:10.1rem;
    display:flex;
    margin-left:13.1rem;
    width:auto;
    height:40rem;
    border-style:dotted;
    border-color:orange;

}
nav{
    display:flex;
    margin-left:13.1rem;
    width:auto;
    height:10rem;
    border-style:dotted;
    border-color:yellow;
}
#videos{
    display:flex;
    margin-left:13.1rem;
    width:auto;
    height:60rem;
    border-style:dotted;
    border-color:yellow;
}
aside{
    position:fixed;
    top:10.6rem;
    display:flex;
  
    width:13rem;
    height:100vh;
    border-style:dotted;
    border-color:yellow;
    flex-direction: column;
    align-items: center;
 
}
#aside-top-section{
    margin-top:8%;
    width:100%;
    height:20%;
    border-width:0px  0px 1px 0px;
    border-style:dotted;
    border-color:black;
}

#aside-mid-section{
    margin-top:4%;
    width:100%;
    height:40%;
    border-style:dotted;
    border-color:black;
}
#aside-bottom-section{
    margin-top:7%;
    width:100%;
    height:100%;
    border-style:dotted;
    border-color:black;
}
.sideButton{
    margin-top:-12%;
    height:2rem;
    width:100%;
    margin-left:-10%;
}